	<!-- SSI FOOTER - BEGIN -->
	<div class="row-fluid">
		<hr />
		<address><p align="center">
			<a target="_new" href="https://www.asclepios-project.eu/">ASCLEPIOS Project - Advanced Secure Cloud Encrypted Platform for Internationally Orchestrated Solutions in Healthcare</a><br />
			&copy; 2019-2021, Institute of Communications and Computer Systems - National Technical University of Athens (ICCS-NTUA)<br/>
			<a target="_new" href="http://imu.iccs.gr">Information Management Unit (IMU)</a>
		</p></address>
	</div>

	<!-- pure-drawer RESUME -->
			</div>
		</div>
		<label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label>
	</div>
	<!-- pure-drawer END -->

	<!-- SSI FOOTER - END -->