	<!-- SSI HEADER - BEGIN -->
	
	<!-- pure-drawer START -->
	<div class="pure-container" data-effect="pure-effect-slideAlong">
		<input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left">
		<label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left">
			<span class="pure-toggle-icon"></span>
		</label>
		<div class="row-fluid" style="position: fixed; top: 0px; z-index: 1; padding-left: 70px; padding-top: 7px; background: black; height: 30px; color: white;">
			<div class="span10" style="font-family: serif; font-size: 20pt; font-weight: bold; font-style: italic;"><%=titlePrefix + pageTitle + titleSuffix%></div>
			<div class="span2" style="font-style: italic; text-align: center;"><%= request.getRemoteUser() %></div>
		</div>

		<div class="pure-drawer" data-position="left">
	<!-- pure-drawer PAUSE -->
				
				<div class="large-12 columns">
					<style>ul.nav-primary > li { background: unset; }</style>
					<ul class="nav-primary" style="padding-top: 80px; margin-left: 0px;">
						<li><a class="btn drawer-btn" style="cursor:pointer" href="/"><img class="drawer-btn" src="/images/home3-cyan-32x32.png" title="Home" />Home</a></li>
						<li>&nbsp;</li>
						<li><a class="btn drawer-btn" style="cursor:pointer" href="/forms/casm/casm-mgnt.jsp"><img class="drawer-btn" src="/images/hierarchy2-color-32x32.png" title="Context-Aware Security Model" />Context-Aware Security Model</a></li>
						<li>&nbsp;</li>
						<li><a class="btn drawer-btn" style="cursor:pointer" href="/forms/abac/abac-policy-mgnt.jsp"><img class="drawer-btn" src="/images/abac/abac-policy-editor-32x32-9.png" title="ABAC Policy Management" />ABAC Policy Management</a></li>
						<li>&nbsp;</li>
						<li><a class="btn drawer-btn" style="cursor:pointer" href="/forms/abe/abe-policy-mgnt.jsp"><img class="drawer-btn" src="/images/abe/abe-policy-editor-32x32.png" title="ABE Policy Management" />ABE Policy Management</a></li>
						<li>&nbsp;</li>
						<li><a class="btn drawer-btn" style="cursor:pointer" href="/forms/validation/validation-mgnt.jsp"><img class="drawer-btn" src="/images/validation/validation-32x32.png" title="Policy Validation Management" />Policy Validation Management</a></li>
						<li>&nbsp;</li>
						<li><a class="btn drawer-btn" style="cursor:pointer" href="/forms/admin/import.jsp"><img class="drawer-btn" src="/images/upload-blue-32x32.png" title="Import Models" />Import Models</a></li>
						<li><a class="btn drawer-btn" style="cursor:pointer" href="/gui/admin/exportRdf"><img class="drawer-btn" src="/images/download-red-32x32.png" title="Export Models" />Export Models</a></li>
						<li>&nbsp;</li>
						<li><a class="btn drawer-btn" style="cursor:pointer" onClick="contactServer('POST', '/gui/admin/initializeModels', 'Initialize with default ASCLEPIOS Context-Aware Security Model?\n\nThis action will overwrite any existing contents.', 'Initializing models...', function() { location.reload(); });"><img class="drawer-btn" src="/images/reset-32x32.png" title="Initialize Models" />Initialize Models</a></li>
						<li><a class="btn drawer-btn" style="cursor:pointer" onClick="contactServer('GET', '/gui/admin/clearRdf', 'Clear repository?\n\nThis action will delete all existing repository contents.', 'Clearing repository...', function() { location.reload(); });"><img class="drawer-btn" src="/images/delete-pink-32x32.png" title="Clear repository" />Clear repository</a></li>
						<li>&nbsp;</li>
						<li><a class="btn drawer-btn" style="cursor:pointer" href="/logout.jsp" onClick="return confirm('Logout?');"><img class="drawer-btn" src="/images/exit-red-32x32.png" title="Logout" />Logout</a></li>
					</ul>
				</div>
				
	<!-- pure-drawer RESUME -->
		</div>
		<div class="pure-pusher-container" style="margin-top: 50px;">
			<div class="pure-pusher">
	<!-- pure-drawer PAUSE -->
	
	<!-- SSI HEADER - END -->