	<!-- SSI HTML HEAD - BEGIN -->
    <title>ASCLEPIOS Project - <%=titlePrefix + pageTitle + titleSuffix%></title>
    <meta charset="utf-8" />
	<meta name="_csrf" content="${_csrf.token}"/>
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
    <script type="text/javascript" src="/forms/deps/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/forms/deps/underscore.js"></script>

    <link rel="stylesheet" style="text/css" href="/forms/deps/opt/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/forms/deps/jstree-3.3.9/themes/default/style.min.css" />
	<link rel="stylesheet" type="text/css" href="/forms/deps/extra/jquery.datetimepicker.css"/>
	<link rel="stylesheet" type="text/css" href="/forms/deps/themes/base/jquery.ui.all.css">
    <script type="text/javascript" src="/forms/admin/util-commons.js"></script>
    
	<!-- JS functions -->
	<script><!--
		function contactServer(method, theUrl, confirmText, contactingMessage, successFunc, errorFunc) {
			if (confirmText && confirmText.trim()!=='') {
				if (!confirm(confirmText)) return false;
			}

			if (!contactingMessage || contactingMessage.trim()==='') contactingMessage = 'Contacting server...';
			showIndicator(contactingMessage);

			$.ajax({
				async: false,
				type: method,
				url: theUrl,
				beforeSend: setCsrfHeaders,
				success: function(data, textStatus, jqXHR) {
							hideIndicator();
							if (successFunc) successFunc(data, textStatus);
						},
				error: function(jqXHR, textStatus, errorThrown) {
							showErrorMessage(textStatus, errorThrown);
							if (errorFunc) errorFunc(data, textStatus);
						},
			});
			return true;
		}

		function setCsrfHeaders(request) {
			//console.log('setCsrfHeaders: AJAX CALL: '+this.type);
			if (this && this.type && this.type.toLowerCase()!=='get') {
				//console.log('setCsrfHeaders: method= '+this.type);
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				request.setRequestHeader(header, token);
			}
		}

	//--></script>
	<style>
		a.drawer-btn {
			width: 250px;
			margin-left: 10px;
			margin-bottom: 3px;
			text-align: left;
		}
		img.drawer-btn {
			margin-right: 10px;
		}
		.toast {
			opacity: 1 !important;
		}
		span.jsonform-title {
			display: inline-block;
			width: 100px;
			text-align: right;
		}
		.my-extra-btn {
		    text-align: left !important;
		}
	</style>
	
	<!-- pure-drawer staff -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/forms/pure-drawer/css/pure-drawer.css"/>
	
	<!-- SSI HTML HEAD - END -->