	<!-- SSI JS LIBS - BEGIN -->
	<script type="text/javascript" src="/forms/deps/ui/jquery.ui.core.js"></script>
	<script type="text/javascript" src="/forms/deps/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/forms/deps/ui/jquery.ui.mouse.js"></script>
	<script type="text/javascript" src="/forms/deps/ui/jquery.ui.resizable.js"></script>
	<script type="text/javascript" src="/forms/deps/ui/jquery.ui.button.js"></script>
	<script type="text/javascript" src="/forms/deps/ui/jquery.ui.draggable.js"></script>
	<script type="text/javascript" src="/forms/deps/ui/jquery.ui.dialog.js"></script>
	<script type="text/javascript" src="/forms/deps/ui/jquery.ui.position.js"></script>
	<script type="text/javascript" src="/forms/deps/clipboard.min.js"></script>
	<link rel="stylesheet" style="text/css" href="/forms/deps/toastr.min.css" />
	<script type="text/javascript" src="/forms/deps/toastr.min.js"></script>

    <script type="text/javascript" src="/forms/deps/opt/jsv.js"></script>
    <script type="text/javascript" src="/forms/deps/jsonform.js"></script>
	<script type="text/javascript" src="/forms/deps/jstree-3.3.9/jstree.min.js"></script>
	<script type="text/javascript" src="/forms/deps/extra/jquery.datetimepicker.js"></script>
	<script type="text/javascript" src="/forms/deps/extra/jquery.hotkeys.js"></script>
	<!-- SSI JS LIBS - END -->